:root {
  --default-font-family: "IBM Plex Sans Arabic";
  --default-text-color: #000000;
}

html {
  scroll-behavior: smooth;
}
* {
  font-family: var(--default-font-family), sans-serif;
  box-sizing: border-box;
  color: var(--default-text-color);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  background-color: #f9fafb;
  padding: 16px 16px 32px;
}

aside {
  background-color: white;
  padding: 12px;
  width: 64px;
  height: 100vh;
  display: none;
}
.nav-logo {
  margin-bottom: 32px;
}

.navbar-buttons-container {
  margin-top: 32px;
}

.navbar-buttons-container .button-navbar {
  transition: 0.3s all;
  cursor: pointer;
}

.navbar-buttons-container .button-navbar:hover {
  transform: translateX(3px);
  background-color: #fafafa;
  border-radius: 12px;
}

.navbar-buttons-container .button-navbar-blue:hover button {
  background-color: #dbeafe;
}
.navbar-buttons-container .button-navbar-green:hover button {
  background-color: #dcfce7;
}

.navbar-buttons-container .button-navbar-purple:hover button {
  background-color: #f3e8ff;
}
.navbar-buttons-container .button-navbar-orange:hover button {
  background-color: #ffedd4;
}
.account {
  padding: 16px;
}
.logo .logo-img {
  width: 48px;
  height: 48px;
}

.logo-info h1 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.logo-info span {
  margin-top: 4px;
  color: #4a5565;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.account {
  backdrop-filter: blur(5px);
}

.account-info .avatar {
  padding: 8px 12px;
  height: 50px;
  transition: all 0.2;
}

.account-info .avatar:hover {
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
}
.account-info .functions button {
  width: 32px;
  height: 32px;
  background-color: #f9fafb;
  transition: all 0.3s;
}

.account-info .functions button i {
  font-size: 14px;
}
.account-info .functions button:hover {
  background-color: #f3f4f6;
}
.account-info .functions button .notification-quntity {
  width: 12px;
  height: 12px;
  font-size: 12px;
  translate: 3px -5px;
}
.account .account-state {
  background-color: #f0fdf4;
  height: 30px;
  width: 29px;
}

.account-state span {
  color: #00a63e;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.account-state .online-icon {
  width: 8px;
  height: 8px;
  background-color: #32d472;
  animation: Pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.recent-activities button {
  transition: all 0.2s;
}

.recent-activities button:hover {
  color: #1447e6;
}

.transactions-table table {
  min-width: 595px; /* or whatever fits your content */
  white-space: nowrap;
}

.finance .card {
  padding: 32px;
}

.finance .current-balance-declaration {
  font-size: 14px;
  font-weight: 400;
}

.finance .income-percentage-change {
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
}

.widget .recent-activities .recent-activity {
  padding: 12px;
}
.widget .recent-activities .recent-activity h3 {
  line-height: 24px;
}

.invoice-card {
  background-color: #f9fafb;
  padding: 12px;
}

.budget-item-card {
  background-color: #f9fafb80;
  border: 1px solid #e5e7ebcc;
  transition: all 0.2s;
}

.budget-item-card:hover {
  background: #f3f4f6cc;
  border-color: #d1d5dbe6;
  transform: translateY(-1px);
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
}

.progress {
  height: 8px;
}

.income-charts .chart-icon {
  width: 12px;
  height: 12px;
  border-radius: 2px;
}
.income-charts span {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: #64748b;
}

.income-charts .green-chart-icon {
  background-color: #10b981;
}

.income-charts .red-chart-icon {
  background-color: #ef4444;
}

.income-charts .chart {
  width: 25%;
}
.income-charts .chart div {
  gap: 2px;
}

.income-charts .chart-bar {
  display: flex;
  align-items: flex-end;
  height: 160px;
}

.income-charts .chart-bar-green {
  background-color: #10b981;
  width: 16px;
}

.income-charts .chart-bar-red {
  background-color: #ef4444;
  width: 16px;
}

.summary-card {
  background-color: #f9fafb;
}

.bank-card .card-parts {
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.2, 0.9, 0.3, 1);
}
.bank-card:hover .card-parts {
  transform: rotateY(180deg);
}

.bank-card .front {
  padding: 28px;
  backface-visibility: hidden;
  z-index: 2;
}
.bank-card .front .card-number {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.bank-card .front .sim-card-outter {
  width: 48px;
  height: 32px;
  background-color: color-mix(in oklab, white 20%, transparent);
}

.bank-card .front .sim-card-inner {
  width: 24px;
  height: 16px;
  background-color: color-mix(in oklab, white 40%, transparent);
}

.bank-card .front .selected-card-badge {
  color: white;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: #ffffff24;
  border-radius: 999px;
  padding: 6px 10px;
  font-weight: 700;
  top: 10px;
  left: 12px;
}

.bank-card .back {
  background-color: #0a1222;
  padding: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.bank-card .back .card-gradient {
  height: 52px;
  background: linear-gradient(90deg, #000, #111 40%, #2b2b2b);
  margin-top: 6px;
}

.bank-card .back .print {
  color: #ffffff7a;
  margin: 8px 0 0 0;
  font-size: 10px;
}

.bank-card .card-signature {
  height: 28px;
  padding: 6px 8px;
  font-weight: 700;
  margin-top: 10px;
}
.bank-card .card-signature .signature-number {
  color: #000000d9;
  font-weight: 500;
}

.bank-card .gray-line {
  background: linear-gradient(90deg, #0000000f, #0000002e, #0000000f);
  border-radius: 2px;
  width: 86%;
  height: 12px;
  transform: skew(-10deg);
}

.bank-card .back .cvv-number {
  color: #111827;
  font-weight: 700;
  padding: 8px 12px;
  height: 40px;
}

.bank-card .cvv-div {
  margin-top: 12px;
}

@keyframes Pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
